<% provide(:title, "About Us") %>
<h1>About Us</h1>

<br />
<br />
<p>
  The <a href="http://www.in2.hr/profil-tvrtke" target=_blank>In2 App</a> is sample application for graduate project by Hrvoje Pozder. <br />
  Application is programmed in the programming language <a href="http://rubyonrails.org/" target=_blank>Ruby on Rails</a> following 
  <a href="http://railstutorial.org/book" target=_blank>Rails Tutorial book</a> by Michael Hartl. <br />
  Source code is uploaded and available on <a href="https://github.com/hpozder/in2_app" target=_blank>GitHub</a>.
</p>