<% provide(:title, "Contact") %>
<h1>Contact</h1>

<br />
<br />
<p>
  Contact author about In2 App via email : hrvojepozder@gmail.com. <br />
  Contact In2 about any questions at the <a href="http://www.in2.hr/kontakt">contact page</a>.
</p>