<% provide(:title, "Help") %>
<a name="acc"><h1>Help</h1></a>


<br />
<br />

<h2>Account</h2>

<p>If you don't have an account please contact administrator. <br />
Send your request including <b>full name</b> and <b>correct email address</b> on <i>hrvojepozder@gmail.com</i>. <br />
When your account will be created, you will get email with default password for sign in.</p>

<br />
<br />

<h2>Pages</h2>

<p>
  <ul>
    <li>Home
      <ul>
        <li>This is the home page for the In2 application with sign up button.</li>
      </ul>
    </li>
	<br />
    <li>Help
	  <ul>
        <li>This is the help page with useful information about the web application.</li>
      </ul>
	</li>
	<br />
	<li>Sign in
	  <ul>
        <li>This is the sign in page.</li>
      </ul>
	</li>
	<br />
	<li>Master Script
	  <ul>
        <li>Page where you can generate a master installation script.</li>
      </ul>
	</li>
	<br />
	<li>Users
	  <ul>
        <li>On this page are listed all users.</li>
      </ul>
	</li>
	<br />
	<li>Create User
	  <ul>
        <li>This is the page where administrators creates users.</li>
      </ul>
	</li>
	<br />
	<li>Profile
	  <ul>
        <li>This is the profile page of the user.</li>
      </ul>
	</li>
	<br />
	<li>Settings
	  <ul>
        <li>On this page users can update or change their information.</li>
      </ul>
	</li>
	<br />
	<li>About
	  <ul>
        <li>This is the page with information about the web application.</li>
      </ul>
	</li>
	<br />
	<li>Contact
	  <ul>
        <li>This is the page with author's contact informations.</li>
      </ul>
	</li>
	<br />
	<li>News
	  <ul>
        <li>This is the page with news.</li>
      </ul>
	</li>
  </ul>
</p>