<footer class="footer">
  <small>
    <a href="http://www.in2.hr/home" target=_blank>In2 app</a>
    by Hrvoje Pozder
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.in2.hr/vijesti" target=_blank>News</a></li>
    </ul>
  </nav>
</footer>